body,html{height:100%;}
.wrap{min-height:100%;height:auto;}
.wrap>.container{width: 100%;padding: 0px}
.footer{height:60px;background-color:#f5f5f5;border-top:1px solid #ddd;padding-top:20px}
small, .small {font-size: 87%;}
.formMsg .alert{display: none;}

/*
	登录页面
*/
body.login-content{background:url(../images/login_bg.png) repeat}
.main_login .wrap{margin:0 auto -60px;padding:0 0 60px}
#login .logo{margin-left:0;min-width:210px;padding:20px;background: url(../images/login_logo.png) no-repeat center center;}
#login .logo a{ display: block;width:188px; height: 50px; margin: 0 auto;}
#login .box-login{background:#fff;border-radius:5px;box-shadow:-30px 30px 50px rgba(0,0,0,.32);overflow:hidden;padding:15px}
#login .box-login h3,#login .box-login p{color:#7f7f7f}
.relative{position: relative;}
.relative .input-icons{bottom:0;color:#909090;display:inline-block;font-size:14px;left:5px;line-height:35px;padding:0 3px;position:absolute;top:0;z-index:2}
.relative input.form-control{padding-left: 26px}
.relative .control-label{min-width:50px;line-height:30px}
.relative .field-flex input.form-control{flex:1;min-width:80px;padding-left:12px}
.field-flex{display: flex;}



body.index-content{overflow-y:hidden;min-width:1000px}
body.index-content a{cursor:pointer;outline:none;blr:expression(this.onFocus=this.blur());}
#header{background:#2B233B;border-bottom:#20192c 1px solid;min-height:0;max-height: 45px; margin:0px;box-shadow:0px 2px 3px rgba(0, 0, 0, 0.2);}
#header #button-menu{border-right:1px solid #473b5d;color:#fff;cursor:pointer;line-height:25px;padding:10px 15px 10px 15px}
#header .navbar-brand{height:44px;width: 141px;display: block; margin-right:10px;padding:10px;background:url(../images/logo.png) no-repeat center center;}
#header .navbar-header{max-width:201px}
#header .nav > li {float: left;}
#header .nav>li>a{border-left:1px solid #473b5d;color:#fff;line-height:38px;padding:3px 16px}
#header .nav .open > a,#header .nav .open > a:focus,#header .nav .open > a:hover{background:#1B1429;}
#header .nav > li > a:hover, #header .nav > li > a:focus{background:#1B1429;color: #e7cf04}
#header .nav > li li{min-width:200px}
#header .lbreadcrumb a{cursor: auto;}
#header .lbreadcrumb > li > a:hover,#header .lbreadcrumb > li > a:focus{background: none;color: #fff}

#column-left{box-shadow:3px -1px 4px rgba(0, 0, 0, 0.2);background:#342b47;height:100%;padding-top:44px;position:absolute;top:0;transition:all .1s ease 0s;width:50px;z-index:10}
#column-left.active{width: 200px;}
#column-left.active #profile{background:#342b47;z-index: 1; position: relative;border-bottom:1px solid #4f4367;display:block;overflow:hidden;padding:10px 15px;}
#column-left #profile div {color: #c4c4c4;float: left;}
#column-left #profile h4{text-overflow:ellipsis;overflow:hidden;color:#fff;font-size:15px;font-weight:400;margin: 0px;white-space:nowrap}
#profile {display: none;}
#profile .user-info{width:121px;height:33px;overflow: hidden;}

#column-left #menu {margin-bottom: 25px;width: 100%;position: absolute;}
#column-left.active #menu > li > a > span{display: inline;}
#menu,#menu li,#menu ul{list-style:outside none none;margin:0;padding:0}
#menu_box{position: relative;z-index: 0}
#menu > li{position: relative;}
#menu li a{border-bottom:1px solid #130f1d;display:block;padding:10px;text-decoration:none}
#menu>li>a{border-bottom:#20192c 1px dashed;color:#c4c4c4;font-size:14px;padding-left:13px}
#menu>li>a>span{display:none;margin-left:8px}
#menu>li>a:hover{background-color:#4b4160}

#menu>li>a.on{background:#564E69!important}
#menu>li>ul>li>a.on{color:#CFE102!important}
#menu>li>ul>li>ul>li>a.on{color:#CFE102}

#column-left.active #menu>li>ul{left:auto;position:relative;top:auto;visibility:visible;width:auto}
#menu>li>ul{background:#211a30;left:50px;position:absolute;top:0;visibility:hidden;width:210px;}
.active #menu>li>ul{display:none;}
#menu li ul a {padding-left: 20px;}
#menu > li:hover > ul {visibility: visible;}
#menu li ul li a:hover{background:#1e172c}
#menu li li a{color:#9d9d9d}
#menu li li a i{margin-right:10px}
#menu>li>a>c{display:none;}
.active #menu>li>a>c{display:block;}
#menu li a c{float: right;height: 20px;line-height:20px;margin-right:5px}
#menu>li>ul>li>a>span::before{content:''; margin-left:0px;transition:margin .5s ease 0s}
#menu>li>ul>li>a:hover>span::before {margin-right:10px;color:#fff}
#menu li li{position: relative;}
#menu li ul li:hover ul{left:260px;display: block;}
.active #menu li ul li:hover ul{left:200px;}
#menu li ul ul{display: none; position: absolute;position: fixed;top: 44px;bottom:0px;width: 189px;box-shadow:0px 0px 10px rgba(0,0,0,.4);background-color:rgba(30,23,44,0.95);}

#column-left .scroll{display: none; position:absolute; background-color:rgba(20,16,27,.8);bottom:0;display:none;left:0;overflow:hidden;width:100%}
#column-left .scroll a{color:#fff;display:inline-block;padding:5px 0;text-align:center;width:100%;cursor: pointer;float: left;}
#column-left .scroll a:hover{color:#e7cf04;background-color:rgba(20,16,27,.9);}
#column-left.active .scroll a{width: 50%}

#column-left + #content{margin-left:50px}
#column-left.active + #content{margin-left: 200px;}
#content{transition:all .1s ease 0s;flex:1;}
#rightMain{border: 0px;}


/*flex: 0 0 auto;*/
/* .jumbotron{text-align:center;background-color:transparent}
.jumbotron .btn{font-size:21px;padding:14px 24px}
.not-set{color:#c55;font-style:italic}
a.asc:after,a.desc:after{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;padding-left:5px}
a.asc:after{content:"\e151"}
a.desc:after{content:"\e152"}
.sort-numerical a.asc:after{content:"\e153"}
.sort-numerical a.desc:after{content:"\e154"}
.sort-ordinal a.asc:after{content:"\e155"}
.sort-ordinal a.desc:after{content:"\e156"}
.grid-view td{white-space:nowrap}
.grid-view .filters input,.grid-view .filters select{min-width:50px}
.hint-block{display:block;margin-top:5px;color:#999}
.error-summary{color:#a94442;background:#fdf7f7;border-left:3px solid #eed3d7;padding:10px 20px;margin:0 0 15px 0}
.nav>li>form{padding:8px}
.nav>li>form>button:hover{text-decoration:none} */
